<div class="wiz-header">
	<h2 class="title">EMPLOI ET DÉTAILS FINANCIERS</h2>
	<hr class="underline-title">
</div>
<div class="wiz-top-desc">
	<p>
		The following questions are collected for compliance with AML/CTF requirements.
	</p>
</div>
<form class="card card-body" name="apropos_vous" id="apropos_vous">
	<div class="form-content">
		<div class="row-infos">
			<div class="info-label">
				Statut d'emploi 
			</div>
			<div class="list-inner-elt">
				<input id="employe" type="radio" name="statut_emploi" value="Employé">
				<label class="item-elt label-form" for="employe">Employé</label>
				<input id="travaileur_independant" type="radio" name="statut_emploi" value="Travailleur indépendant">
				<label for="travaileur_independant" class="item-elt label-form">Travailleur indépendant</label>
				<input id="retraite" type="radio" name="statut_emploi" value="Retraité">
				<label for="retraite" class="item-elt label-form">Retraité</label>
				<input id="etudiant" type="radio" name="statut_emploi" value="Étudiant">
				<label for="etudiant" class="item-elt label-form">Étudiant</label>
				<input id="sans_emploi" type="radio" name="statut_emploi" value="Sans emploi">
				<label for="sans_emploi" class="item-elt label-form">Sans emploi</label>
			</div>
		</div>
		<hr class="separate-row-infos">

		<div class="row-infos">
			<div class="info-label">
				Revenu annuel estimé 
			</div>
			<div class="list-inner-elt">
				<input id="revenu_1" type="radio" name="revenue_annuel" value="0 - 18 200 $">
				<label class="item-elt label-form" for="revenu_1">0 - 18 200 $</label>
				<input id="revenu_2" type="radio" name="revenue_annuel" value="18 201 $ - 37 000 $">
				<label for="revenu_2" class="item-elt label-form">18 201 $ - 37 000 $</label>
				<input id="revenu_3" type="radio" name="revenue_annuel" value="37 001 $ - 90 000 $">
				<label for="revenu_3" class="item-elt label-form">37 001 $ - 90 000 $</label>
				<input id="revenu_4" type="radio" name="revenue_annuel" value="90 001 $ - 180 000 $">
				<label for="revenu_4" class="item-elt label-form">90 001 $ - 180 000 $</label>
				<input id="revenu_5" type="radio" name="revenue_annuel" value="180 000 $ et plus">
				<label for="revenu_5" class="item-elt label-form">180 000 $ et plus</label>
			</div>
		</div>
		<hr class="separate-row-infos">

		<div class="row-infos">
			<div class="info-label">
				Économies et investissements estimés
			</div>
			<div class="list-inner-elt">
				<input id="economie_1" type="radio" name="invest_economie" value="Moins de 25 000 $">
				<label class="item-elt label-form" for="economie_1">Moins de 25 000 $</label>
				<input id="economie_2" type="radio" name="invest_economie" value="25 000 $ - 50 000 $">
				<label for="economie_2" class="item-elt label-form">25 000 $ - 50 000 $</label>
				<input id="economie_3" type="radio" name="invest_economie" value="50 000 $ - 100 000 $">
				<label for="economie_3" class="item-elt label-form">50 000 $ - 100 000 $</label>
				<input id="economie_4" type="radio" name="invest_economie" value="101 000 $ - 250 000 $">
				<label for="economie_4" class="item-elt label-form">101 000 $ - 250 000 $</label>
				<input id="economie_5" type="radio" name="invest_economie" value="251 K $ - 1 M $">
				<label for="economie_5" class="item-elt label-form">251 K $ - 1 M $</label>
				<input id="economie_6" type="radio" name="invest_economie" value="1 M $ à 5 M $">
				<label for="economie_6" class="item-elt label-form">1 M $ à 5 M $</label>
				<input id="economie_7" type="radio" name="invest_economie" value="5 M $ - 10 M $">
				<label for="economie_7" class="item-elt label-form">5 M $ - 10 M $</label>
				<input id="economie_8" type="radio" name="invest_economie" value="10 M $ +">
				<label for="economie_8" class="item-elt label-form">10 M $ +</label>
			</div>
		</div>
		<hr class="separate-row-infos">

		<div class="row-infos">
			<div class="info-label">
				Dépôt prévu estimé
			</div>
			<div class="list-inner-elt">
				<input id="depot_1" type="radio" name="depot" value="0 à 5 000 $">
				<label class="item-elt label-form" for="depot_1">0 à 5 000 $</label>
				<input id="depot_2" type="radio" name="depot" value="5 000 $ - 50 000 $">
				<label for="depot_2" class="item-elt label-form">5 000 $ - 50 000 $</label>
				<input id="depot_3" type="radio" name="depot" value="50 000 $ - 100 000 $">
				<label for="depot_3" class="item-elt label-form">50 000 $ - 100 000 $</label>
				<input id="depot_4" type="radio" name="depot" value="101 000 $ - 250 000 $">
				<label for="depot_4" class="item-elt label-form">101 000 $ - 250 000 $</label>
				<input id="depot_5" type="radio" name="depot" value="251 000 $ - 500 000 $">
				<label for="depot_5" class="item-elt label-form">251 000 $ - 500 000 $</label>
				<input id="depot_6" type="radio" name="depot" value="501 K $ - 1 M $">
				<label for="depot_6" class="item-elt label-form">501 K $ - 1 M $</label>
				<input id="depot_7" type="radio" name="depot" value="1 M $ +">
				<label for="depot_7" class="item-elt label-form">1 M $ +</label>
			</div>
		</div>
		<hr class="separate-row-infos">

		<div class="row-infos">
			<div class="info-label">
				Source de fonds
			</div>
			<div class="list-inner-elt">
				<input id="source_fond_1" type="radio" name="source_fond" value="Revenu familial">
				<label class="item-elt label-form" for="source_fond_1">Revenu familial</label>
				<input id="source_fond_2" type="radio" name="source_fond" value="Un ami">
				<label for="source_fond_2" class="item-elt label-form">Un ami</label>
				<input id="source_fond_3" type="radio" name="source_fond" value="Cadeau">
				<label for="source_fond_3" class="item-elt label-form">Cadeau</label>
				<input id="source_fond_4" type="radio" name="source_fond" value="Soutien gouvernemental / sécurité sociale">
				<label for="source_fond_4" class="item-elt label-form">Soutien gouvernemental / sécurité sociale</label>
				<input id="source_fond_5" type="radio" name="source_fond" value="Héritage">
				<label for="source_fond_5" class="item-elt label-form">Héritage</label>
				<input id="source_fond_6" type="radio" name="source_fond" value="Investissements / dividendes">
				<label for="source_fond_6" class="item-elt label-form">Investissements / dividendes</label>
				<input id="source_fond_7" type="radio" name="source_fond" value="Prêt">
				<label for="source_fond_7" class="item-elt label-form">Prêt</label>
				<input id="source_fond_8" type="radio" name="source_fond" value="Pension">
				<label for="source_fond_8" class="item-elt label-form">Pension</label>
				<input id="source_fond_9" type="radio" name="source_fond" value="Revenus locatifs">
				<label for="source_fond_9" class="item-elt label-form">Revenus locatifs</label>
				<input id="source_fond_10" type="radio" name="source_fond" value="Vente de biens / revenus immobiliers">
				<label for="source_fond_10" class="item-elt label-form">Vente de biens / revenus immobiliers</label>
				<input id="source_fond_11" type="radio" name="source_fond" value="Économies grâce à un emploi antérieur">
				<label for="source_fond_11" class="item-elt label-form">Économies grâce à un emploi antérieur</label>
			</div>
		</div>
		<hr class="separate-row-infos">

		<div class="wiz-header">
			<h2 class="title">CONNAISSANCES ET EXPÉRIENCE COMMERCIALES</h2>
			<hr class="underline-title">
		</div>
		<div class="wiz-top-desc">
		</div>

		<div class="row-infos">
			<div class="info-label">
				Nombre de transactions par semaine
			</div>
			<div class="list-inner-elt">
				<input id="transaction_1" type="radio" name="nbr_transaction" value="pas de métiers">
				<label class="item-elt label-form" for="transaction_1">pas de métiers</label>
				<input id="transaction_2" type="radio" name="nbr_transaction" value="1 à 15 métiers">
				<label for="transaction_2" class="item-elt label-form">1 à 15 métiers</label>
				<input id="transaction_3" type="radio" name="nbr_transaction" value="16-30 métiers">
				<label for="transaction_3" class="item-elt label-form">16-30 métiers</label>
				<input id="transaction_4" type="radio" name="nbr_transaction" value="31 - 50 métiers">
				<label for="transaction_4" class="item-elt label-form">31 - 50 métiers</label>
				<input id="transaction_5" type="radio" name="nbr_transaction" value="180 000 $ et plus">
				<label for="transaction_5" class="item-elt label-form">180 000 $ et plus</label>
			</div>
		</div>
		<hr class="separate-row-infos">

		<div class="row-infos">
			<div class="info-label">
				Quantité d'échange par semaine 
			</div>
			<div class="list-inner-elt">
				<input id="qte_echange_1" type="radio" name="qte_echange" value="0 $">
				<label class="item-elt label-form" for="qte_echange_1">0 $</label>
				<input id="qte_echange_2" type="radio" name="qte_echange" value="1 $ - 1 000 $">
				<label for="qte_echange_2" class="item-elt label-form">1 $ - 1 000 $</label>
				<input id="qte_echange_3" type="radio" name="qte_echange" value="1 000 $ - 2 500 $">
				<label for="qte_echange_3" class="item-elt label-form">1 000 $ - 2 500 $</label>
				<input id="qte_echange_4" type="radio" name="qte_echange" value="2,5 K $ +">
				<label for="qte_echange_4" class="item-elt label-form">2,5 K $ +</label>
			</div>
		</div>
		<hr class="separate-row-infos">
	</div>
</form>